/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    opacity: 0;
    transition: opacity 1s ease-out;
  } */

  /* Apply this class when the element comes into the viewport */
  /* .visible {
    opacity: 1;
  } */
   @import url(variables.css);
  button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: var(--primary-light);
  }
  
  .container {
    margin: 130px auto;
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--background-lighter);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    animation:floating 5s ease-in-out infinite;

  }
  
  .container-left {
    flex: 1;
    padding: 40px;
  }
  
  .container-left h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  .container-left form {
    display: flex;
    flex-direction: column;
  }
  
  .container-left input, select {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: lightcyan;
  }
  .container-left p {
    padding: 10px 0;
    color: var(--text-dark);
  }
  
  .container-right {
    flex: 1;
    background:linear-gradient(to left, var(--primary-color), var(--background-lighter));
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0 20px 20px 0;
  }
  
  .container-right h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .container-right p {
    line-height: 1.6;
    text-align: center;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .container-right,
    .container-left {
      border-radius: 0;
      padding: 30px;
      width: 100%;
    }
    .container-right{
      background:linear-gradient(to top, var(--primary-color), var(--background-lighter))
    }
    .container-left input ,
    .container-left button {
      width: 80%;
    }
    .container-right p{
      width: 50%;
    }
    header {
      padding: 10px 20px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  