<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <footer class="footer" >
      <div class="footerContainer">

      <div class="footerSection">

        <div class="boxOne">
          <div class="footerLogo">
            <h1 class="">Cuddle Care</h1>
            <p class="">We connect loving families with trusted childcare providers. Safe, nurturing, and smart — every step of the way</p>
          </div>

          <div class="social">
            <div class="socialContainer">
              <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <h3 class="">Follow Us</h3>
          </div>

        </div>

        <div class="boxTwo">
          
         <div class="quickLink">
          <h3>Quick Links</h3>
          <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="../pages/dashboard.html">Dashboard</a></li>
              <li><a href="../pages/about.html">About</a></li>
              <li><a href="../pages/contact.html">Contact</a></li>
              <li><a href="../pages/signup.html">Sign Up</a></li>
          </ul>
      </div>

      <div class="quickLink">
          <h3>Services</h3>
          <ul>
              <li><a href="../pages/daycareService.html">Daycare Services</a></li>
              <li><a href="../pages/babysitting.html">Baby Sitting</a></li>
              <li><a href="../pages/afterSchool.html">After School Program</a></li>
              <li><a href="../pages/specialedu.html">Special Education</a></li>
          </ul> 
      </div>
        </div>

        <div class="boxthree">
            <div>
              <h3 class="">Call:</h3>
              <p class="">+25195234125</p>
              <p class="">+251743567212</p>
            </div>
            <div>
              <h3 class="">Email:</h3>
              <p class="">support@cuddlecare.com</p>
              <p class="">support@cuddlecare.com</p>
            </div>
          </div>
        </div>
     
      <div class="copy">
        Copyright &copy; 2025<span class="font-bold"> Cuddle Care</span>
      </div>
      </div>
    </footer>
</body>
</html>

